@charset "utf-8";

BODY {
	font-family:"Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic", sans-serif,"arial","SimSun";
	font-size:12pt;
	color:#000000;
}
td	{
	font-family:"Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic", sans-serif,"arial","SimSun";
}
H1 {
	color: #FFFFFF;
	background-image:url("../images/h1.gif");
	background-repeat:no-repeat;
	font-weight:bolder;
	padding-left:18px;
	font-size: 12pt;
	line-height: 20pt;
	margin-top:3pt;
	margin-bottom:3pt;
	margin-left:10pt;
	text-decoration:none;
}
H2 {
	color: #3E3E3E;
	border:2px dotted;
	font-weight:bold;
	background-color:#FF9;
	padding-left:15px;
	padding-right:15px;
	font-size: 11pt;
	line-height: 18pt;
	margin-top:5pt;
	margin-bottom:5pt;
	margin-left:10pt;
	text-decoration:none;
}
H3 {
	color:#263746;
	background-image:url("../images/h3.gif");
	background-repeat:no-repeat;
	font-weight:bold;
	font-size:13pt;
	padding-left:15px;
	margin-left:7pt;
	margin-top:7pt;
	margin-bottom:1pt;
	line-height:12pt;
	text-decoration:none;
}
.top_index {
	color: #000000;
	font-weight:bold;
	padding-left:15px;
	padding-right:15px;
	border-bottom:2px #E82222 solid;
	font-size: 11pt;
	line-height: 18pt;
	margin-top:5pt;
	margin-bottom:5pt;
	margin-left:10pt;
	text-decoration:none;
}
.toptext {
	color:#000000;
	font-size:10pt;
	margin-left:15pt;
	margin-top:4pt;
	line-height:14pt;
	text-decoration:none;
}
.toptext a {
	background-image:url("../images/point.gif");
	background-repeat:no-repeat;
	padding-left:15px;
	color:#000000;
	text-decoration:none;
}
.toptext a:hover {
	color:#ED6161;
	text-decoration:underline;
}
.maintext {
	color:#000000;
	font-size:12pt;
	margin-left:15pt;
	margin-top:4pt;
	line-height:14pt;
	text-decoration:none;
}
.text {
	color:#000000;
	font-size:12pt;
	margin-left:7pt;
	margin-top:4pt;
	line-height:1.5em;
	text-decoration:none;
}
.text_b {
	color:#263746;
	font-weight:bold;
	font-size:10pt;
	margin-left:7pt;
	margin-top:4pt;
	line-height:12pt;
	text-decoration:none;
}
.maintext2	{
	PADDING-RIGHT: 10px; MARGIN-TOP: 0px; FONT-SIZE: 10pt; PADDING-BOTTOM: 0px; MARGIN-LEFT: 12px;
	}
.linktext {
	color:#0D7BF7;
	font-size:10pt;
	margin-left:7pt;
	margin-top:2pt;
	line-height:10pt;
	text-decoration:none;
}
.linktext a {
	background-image:url("../images/point2.gif");
	padding-left:15px;
	color:#0D7BF7;
	text-decoration:none;
}
.linktext a:hover {
	color:#0D7BF7;
	text-decoration:underline;
}

/* FOOTER 
------------------------------------------------------------*/
#footer {
	font-size:13px;
	color:#2474ba;
	font-weight:bold;
}
#footer_nav ul {
	list-style:none;
	margin-top:0;
}
#footer_nav li {
	display:inline;
	margin-bottom:5px;
}
#footer_nav a {
	font-size:11px;
	text-decoration:none;
	color:#666;
}
#footer_nav a:hover {
	color:#F00;
}
#footer_ad{
	font-size:11px;
}
#copy{
	font-size:11px;
}
.center{
	text-align:center;
	font-size:12px;
}
/* TOPPAGE 
------------------------------------------------------------*/
#box a {
	font-size:13px;
	font-weight:bold;
	color:#48494a;
}
.toplist {
	font-size:14px;
	color:#2474ba;
	line-height:1.5em;
	padding:5px 10px 5px 10px;
}