@import './index.scss';

.feature-list {
  @include pc {
    margin: 100px 0 0;
  }
  @include pc-min {
    margin: 75px 0 0;
  }
  @include sp {
    margin: 60px 0 0;
  }
}

.feature-item {
  @include pc {
    margin: 150px 0 0;
  }
  @include pc-min {
    margin: 125px 0 0;
  }
  @include sp {
    margin: 90px 0 0;
  }

  &:nth-child(1) {
    margin-top: 0;
  }
}
